@font-face {
  font-family: "DigifaceWide";
  src: url(./fonts/digifaw.ttf);
}

body {
  margin: 0;
}

.app {
  text-align: center;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #535c68;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  color: #fafafa;
  margin: 0;
}

.number-container {
  display: flex;
  align-items: center;
  width: 600px;
  height: 100px;
}

.timer-container {
  display: flex;
  align-items: center;
  background-color: #080808;
  width: 160px;
  height: 160px;
  border-radius: 15px;
}

.number {
  margin: 0 auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 65px;
  color: #fafafa;
}

.timer {
  margin: 0 auto;
  font-family: "DigifaceWide";
  font-size: 65px;
  color: #fafafa;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 300px;
}

.play-button {
  background-color: transparent;
  border: none;
}

.stop-button {
  background-color: transparent;
  border: none;
}

.play-button-img {
  height: 80px;
}

.play-button-img:hover {
  opacity: 65%;
}

.stop-button-img {
  height: 80px;
}

.stop-button-img:hover {
  opacity: 65%;
}

.alarma-atr {
  font-size: 80px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}
